<header>
    <a href="/" style="width: 600px"><img src="/static/images/imager.png" alt="" height="100%" width="100%" style="margin: 2%"></a>
    <div class="header-text">
        <h3 style='float: left'>Формирование регистраций животных</h3>
    </div>
</header>