<div class="main-upper content">
    <div class="main_bg">
        <div class="image-logo">
            <img src="../images/Minprirody_Rossii_2.png" alt="" width="500px" height="600px">
        </div>
        <div class="form">
            <form action="/api" method="post">
                <h2>Введите значения</h2> <br>
                <input type="text" name="first" placeholder="Название камеры">
                <input type="file">
                <button type="submit">Предсказать</button>
            </form>
        </div>
    </div>
</div>
